<% include partials/header %>

<div class="home-page">
	<div class="container">
		<div class="text-center header-text">
			<h1>Welcome to YelpCamp</h1>
			<h2>Escape the rat race, reconnect with the outdoors and spend some quality time with family. Find the park that best fits your needs!</h2>
		</div>
		<div class="header-button col-md-4 col-md-offset-4 col-sm-12">
		  <a class="btn btn-success" href="/campgrounds">View All Campgrounds</a>
		</div>
	</div>	
</div>

<% include partials/footer %>